* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
  border: #fddcc4;
  background: #fddcc4;
}

button:active {
  border: 0px;
}

button {
  background: hsl(0, 0%, 96%);
  border: 0px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
}

h1, h2, h3, .h3-footer, h4, .h5, .h4 {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  color: #545454;
}

a, p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.donation__desc .don-txt {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body.hidden {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.white {
  color: #fff;
}

.h1 {
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

h1, h2 {
  font-size: 44px;
  line-height: 130%;
}

h3, .h3-footer, .h1-pets {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4, .h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

a {
  color: #cdcdcd;
  text-decoration: none;
  font-family: "Arial", sans-serif;
}

a:active {
  text-decoration: underline #f1cdb3 3px;
}

a.active {
  cursor: default;
  text-decoration: underline #f1cdb3 3px;
}

.menu__logolink:active {
  text-decoration: none;
}

.main__section {
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  background: #211f20;
  background: linear-gradient(90deg, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 70%);
}
@media (max-width: 769px) {
  .main__section {
    gap: 60px;
  }
}
@media (max-width: 500px) {
  .main__section {
    padding: 30px 10px 0px 10px;
  }
}

nav {
  position: relative;
  display: flex;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 0 10px 0 10px;
  }
}
nav .menu__logolink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
nav .menu__choise {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 769px) {
  nav .menu__choise {
    display: none;
  }
}

.menu__burger {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10;
  display: none;
}
.menu__burger:hover {
  cursor: pointer;
}
@media (max-width: 769px) {
  .menu__burger {
    display: block;
  }
}
.menu__burger span {
  position: absolute;
  transition: ease-out 0.3s;
  width: 30px;
  height: 2px;
  background: #f1cdb3;
}
.menu__burger span:first-child {
  top: 0px;
}
.menu__burger span:nth-child(2) {
  top: 10px;
}
.menu__burger span:last-child {
  top: 19px;
}
.menu__burger.active span {
  height: 30px;
  width: 2px;
}
.menu__burger.active span:first-child {
  top: 0px;
  left: 5px;
}
.menu__burger.active span:nth-child(2) {
  top: 0px;
  left: 15px;
}
.menu__burger.active span:last-child {
  top: 0px;
  left: 25px;
}
.menu__burger.black span {
  background: #545454;
}

.burger-menu {
  transition: left 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 100vw;
  z-index: 1;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  background: #292929;
  text-align: center;
}
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu.active {
  left: 0px;
}

.burger__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #cdcdcd !important;
}
.burger__link.active {
  cursor: default;
  color: #fafafa;
}

.main__desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 42px;
  flex-wrap: wrap;
}
.main__desc__img {
  max-width: 698px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .main__desc__img {
    max-width: 569px;
  }
}
.main__desc__txt {
  width: 100%;
  max-width: 460px;
  padding-top: 163px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
@media (max-width: 1200px) {
  .main__desc__txt {
    align-items: flex-start;
    padding-top: 0px;
  }
}
@media (max-width: 400px) {
  .main__desc__txt {
    align-items: center;
  }
}
.main__desc__txt button {
  padding: 0px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
@media (max-width: 1200px) {
  .main__desc__txt button {
    margin: auto;
  }
}
.main__desc__txt p {
  color: #cdcdcd;
}
.main__desc h1 {
  color: #fff;
}

.about__section {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 400px) {
  .about__section {
    padding: 42px 10px;
  }
}
.about__section .about__div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about__section .about__div h2 {
  font-size: 35px;
}
@media (max-width: 400px) {
  .about__section .about__div h2 {
    line-height: 130%;
    letter-spacing: 0.06em;
    font-size: 25px;
  }
}
@media (max-width: 769px) {
  .about__section .about__div {
    flex-direction: column;
    gap: 80px;
  }
}
@media (max-width: 400px) {
  .about__section .about__div {
    padding: 0px 15px;
    gap: 42px;
  }
}
.about__section .about__div__img {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 769px) {
  .about__section .about__div__img {
    order: 2;
    max-width: 100%;
  }
}
.about__section .about__div__desc {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
.about__section .about__div__desc p {
  display: block;
  max-width: 430px;
}
@media (max-width: 400px) {
  .about__section .about__div__desc p {
    text-align: justify;
  }
}
@media (max-width: 769px) {
  .about__section .about__div__desc {
    order: 1;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .about__section .about__div__desc {
    align-items: center;
  }
}

.find__section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 40px 100px 40px;
  background: hsl(0, 0%, 96%);
}
@media (max-width: 769px) {
  .find__section {
    padding: 80px 30px 100px 30px;
  }
}
@media (max-width: 500px) {
  .find__section {
    padding: 42px 10px 42px 10px;
    gap: 42px;
  }
}
.find__section .find__text {
  text-align: center;
}
.find__section .find__cards {
  transition: transform 0.7s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 990px;
  width: 100%;
  position: relative;
  gap: 90px;
}
@media (max-width: 1200px) {
  .find__section .find__cards .card:last-of-type {
    display: none;
  }
  .find__section .find__cards {
    gap: 40px;
    max-width: 580px;
  }
}
@media (max-width: 760px) {
  .find__section .find__cards .card:first-of-type {
    display: none;
  }
  .find__section .find__cards {
    max-width: 290px;
  }
}

.cards__wrapper {
  overflow: hidden;
  max-width: 990px;
  width: 100%;
  gap: 90px;
}
@media (max-width: 1200px) {
  .cards__wrapper {
    gap: 40px;
    max-width: 580px;
  }
}
@media (max-width: 760px) {
  .cards__wrapper {
    max-width: 290px;
  }
}
.cards__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row {
  display: flex;
  gap: 80px;
  margin-top: -22px;
  padding-bottom: 42px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  top: 50%;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  position: absolute;
}
.arrow__left {
  left: 40px;
}
.arrow__right {
  right: 40px;
}
@media (max-width: 500px) {
  .arrow {
    position: static;
  }
}
.arrow__left {
  left: 40px;
}
.arrow__right {
  right: 40px;
}
@media (max-width: 1200px) {
  .arrow__left {
    left: 30px;
  }
  .arrow__right {
    right: 30px;
  }
}

.card {
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  background: #fafafa;
}

.card:hover {
  cursor: pointer;
}
.card:hover button {
  cursor: pointer;
  border: #fddcc4;
  background: #fddcc4;
}

.card__btn {
  background: #fafafa;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 0px;
  width: 187px;
  height: 52px;
}

.find__btn {
  border: 0px;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
}

.help__section {
  padding: 80px 40px 100px 40px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 769px) {
  .help__section {
    padding: 80px 69px 100px 69px;
  }
}
@media (max-width: 400px) {
  .help__section {
    gap: 42px;
    padding: 42px 15px 42px 15px;
  }
}

.help__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 55px 120px;
}
@media (max-width: 900px) {
  .help__cards {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 113px);
    gap: 55px 60px;
  }
}
@media (max-width: 670px) {
  .help__cards {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(5, 87px);
    gap: 30px;
  }
}
@media (max-width: 670px) {
  .help__cards svg {
    width: 50px;
    height: 50px;
  }
}
.help__cards .help__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 670px) {
  .help__cards .help__card {
    gap: 20px;
  }
}
@media (max-width: 670px) {
  .help__cards .help__card h4, .help__cards .help__card .h4 {
    font-size: 15px;
  }
}

.donation__section {
  background: hsl(0, 0%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 80px 182px 100px 183px;
}
@media (max-width: 1000px) {
  .donation__section img {
    order: 2;
  }
}
@media (max-width: 600px) {
  .donation__section img {
    width: 260px;
  }
}
@media (max-width: 1000px) {
  .donation__section {
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (max-width: 600px) {
  .donation__section {
    gap: 42px;
    padding: 42px 10px;
  }
}

.donation__desc {
  width: 380px;
  min-width: 380px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
@media (max-width: 400px) {
  .donation__desc {
    align-items: center;
    width: 300px;
    min-width: 300px;
  }
}
.donation__desc button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  gap: 15px;
  border-radius: 9px;
  padding: 10px 15px;
  background: #f1cdb3;
  color: #545454;
}
@media (max-width: 400px) {
  .donation__desc button span {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .donation__desc .don-txt {
    padding: 0px 10px;
    text-align: justify;
  }
}

.max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find {
  background: hsl(0, 0%, 96%);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  flex-wrap: wrap;
  padding: 40px 40px 0 40px;
  background: #211f20;
  background: linear-gradient(90deg, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
}
@media (max-width: 1050px) {
  footer {
    gap: 60px 65px;
  }
}
@media (max-width: 400px) {
  footer {
    padding: 30px 10px 0 10px;
  }
}
@media (max-width: 400px) {
  footer img {
    width: 260px;
  }
}

.footer__card {
  padding: 16px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 800px) {
  .footer__card {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .footer__card:last-of-type {
    align-items: flex-start;
  }
  .footer__card {
    align-items: center;
    width: 300px;
  }
}
@media (cursor: coarse) {
  .footer__card span:hover,
  .footer__card svg:hover {
    cursor: default;
  }
}
.footer__card div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer__card span:hover,
.footer__card svg:hover {
  cursor: pointer;
}
.footer__card h3, .footer__card .h3-footer {
  width: 279px;
}

.header {
  padding: 30px 40px;
}
@media (max-width: 1000px) {
  .header {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 30px 20px;
  }
}
.header a {
  color: #545454;
}

.black-brg span {
  background-color: #545454 !important;
}

.black {
  color: #545454;
}

.find__pets {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 1000px) {
  .find__pets {
    padding: 60px 30px 70px 30px;
  }
}
@media (max-width: 500px) {
  .find__pets {
    padding: 42px 10px;
  }
}

#find {
  overflow: hidden;
}

.find__cards_second {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 435px);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px 30px;
  transition: all 0.2s ease-out;
}
.find__cards_second .card:nth-child(n+9) {
  display: none;
}
@media (max-width: 1200px) {
  .find__cards_second .card:nth-child(n+7) {
    display: none;
  }
  .find__cards_second {
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 435px);
  }
}
@media (max-width: 600px) {
  .find__cards_second .card:nth-child(n+4) {
    display: none;
  }
  .find__cards_second {
    grid-template-columns: repeat(1, 270px);
    grid-template-rows: repeat(3, 435px);
  }
}

.div__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 400px) {
  .div__btns {
    gap: 10px;
  }
}
.div__btns .arrow {
  margin: 0px;
  background: hsl(0, 0%, 96%);
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  position: static !important;
}
.div__btns .arrow.active {
  color: #292929;
}
.div__btns .arrow.passive {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}
.div__btns .arrow.passive:hover {
  cursor: default;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  background: transparent;
}
.div__btns .arrow:hover {
  background: #f1cdb3;
}

.number {
  background: #f1cdb3 !important;
}

.modal {
  position: relative;
  display: flex;
  max-width: 900px;
  width: 82%;
  min-width: 240px;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 96%);
  border-radius: 9px;
}
@media (max-width: 750px) {
  .modal {
    max-width: 240px;
  }
  .modal h3 {
    font-size: 35px;
  }
  .modal h5 {
    text-align: justify;
  }
}
.modal__img {
  flex: 1 1 55.4%;
}
@media (max-width: 750px) {
  .modal__img {
    display: none;
  }
}
.modal__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 50px 20px 88px 29px;
  flex: 1 1 50%;
}
.modal__desc * {
  color: #000;
}
@media (max-width: 1000px) {
  .modal__desc {
    gap: 20px;
    padding: 10px 9px 37px 11px;
  }
}
@media (max-width: 750px) {
  .modal__desc {
    padding: 10px;
  }
}
.modal__desc_head {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 750px) {
  .modal__desc_head {
    align-items: center;
  }
}
.modal__desc ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style-type: disc;
  padding: 0;
  margin: 0;
  padding-left: 14px;
}
.modal__desc ul li::marker {
  color: #f1cdb3;
}
.modal__desc ul strong {
  font-weight: 700;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

.modal__close_btn {
  width: 52px;
  height: 52px;
  position: absolute;
  top: -51px;
  right: -32px;
}

@media (max-width: 769px) {
  .main__desc__img {
    padding-left: 69px;
  }
}
@media (max-width: 430px) {
  .main__desc__img {
    padding-left: 40px;
  }
  h1, h2, h3, .h3-footer, h4, .h4, .h5, h6, p {
    text-align: center;
  }
  h1, h2, h3, .h3-footer, .h1-pets {
    font-size: 25px;
  }
  .h5 {
    line-height: 160%;
    text-wrap: nowrap;
    letter-spacing: 0;
  }
}
@media (pointer: coarse) {
  button:hover {
    cursor: none;
  }
  button:active {
    border: 0px;
  }
  .arrow:hover {
    background: hsl(0, 0%, 96%);
    border: 2px solid #f1cdb3;
  }
  .card:hover {
    cursor: default;
  }
  .card:hover button {
    cursor: default;
    border: 2px solid #f1cdb3;
    background: hsl(0, 0%, 96%);
  }
  .menu__burger {
    cursor: default;
  }
}

/*# sourceMappingURL=main.css.map */
