@use 'reset';

	$color-light-xl: #fff;
	$color-light-l: hsl(0, 0%, 96%);
	$color-light-s: #fafafa;
	$color-dark-s: #cdcdcd;
	$color-dark-m: #b2b2b2;
	$color-dark-l: #545454;
	$color-dark-xl: #4c4c4c;
	$color-dark-2xl: #444;
	$color-dark-3xl: #292929;
	$color-primary: #f1cdb3;
	$color-primary-light: #fddcc4;
	$start-screen-gradient-background: #211f20;
	$footer-gradient-background: #211f20;
	$font-family: "Georgia", sans-serif;
  $second-family: "Arial", sans-serif;
  $third-family: "Inter", sans-serif;

html{
	padding: 0;
	scroll-behavior: smooth;
}
button:hover{
	cursor: pointer;
	border: $color-primary-light;
	background: $color-primary-light;
}
button:active{
	border: 0px;
}
button{
	background: $color-light-l;
	border: 0px;
	font-family: $font-family;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: $color-dark-3xl;
	border-radius: 100px;
}
%header-txt{
	font-family: $font-family;
	font-weight: 400;
	color: $color-dark-l;
}
%paragraph-l-txt{
	font-family: $second-family;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: $color-dark-xl;
}
%paragraph-s-txt{
	font-family: $second-family;
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: $color-dark-m;
}
body{
	display: flex;
	align-items: center;
	flex-direction: column;
	&.hidden{
		overflow: hidden;
	}
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1280px;
}

.white{color: $color-light-xl}
h1,h2,h3,.h3-footer,h4,.h5,.h4{
	@extend %header-txt;
}
.h1{
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: $color-primary;
}
h1,h2{
	font-size: 44px;
	line-height: 130%;
}
h3,.h3-footer,.h1-pets{
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
}
h4,.h4{
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}
.h5{
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
}
p{
	@extend %paragraph-l-txt
}
a{
	@extend %paragraph-l-txt;
	color: $color-dark-s;
	text-decoration: none;
	font-family: $second-family;
}
a:active{
	text-decoration: underline $color-primary 3px;
}
a.active{
	text-decoration: underline $color-primary 3px;
}

.menu__logolink:active{
	text-decoration: none;
}
.main__section{
	padding-bottom: 0px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 90px;
	background: $start-screen-gradient-background;
	background: linear-gradient(90deg,rgba(91, 72, 58, 1) 0%, rgba(38, 36, 37, 1) 100%);
	@media(max-width:769px){
		gap: 60px;
	}
	@media(max-width:500px){
		padding: 30px 10px 0px 10px;
	}
}
nav{
	position: relative;
	display: flex;
	max-width: 1280px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px 0 40px; 
	@media (max-width:1000px){
		padding: 0 30px 0 30px;
	}
	@media (max-width:500px){
		padding: 0 10px 0 10px;
	}
	.menu__logolink{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: justify;
	}
	.menu__choise{
		display: flex;
		align-items: center;
		justify-content: center;
		gap:35px;
		@media(max-width:769px) {
			display: none;
		}
	}
}
.menu__burger{
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 10;
	display: none;
	@media (max-width:769px) {
		display: block;
	}
	span{
		position: absolute;
		transition: ease-out 0.3s;
		width: 30px;
		height: 2px;
		background: $color-primary;

		&:first-child{
			top: 0px;
		}	
		&:nth-child(2){
			top:10px;
		}
		&:last-child{
			top:19px;
		}
	}
	&.active{
		span{
		height: 30px;
		width: 2px;
		&:first-child{
			top: 0px;
			left: 5px;
		}	
		&:nth-child(2){
			top:0px;
			left: 15px;
		}
		&:last-child{
			top: 0px;
			left: 25px;
		}
		}
	}
	&.black span{
			background: $color-dark-l;
	}
}

.burger-menu{
		transition: left 0.3s ease-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		top: 0px;
		left:100vw;
		z-index: 1;
		gap: 40px;
		width: 100vw;
		height: 100vh;
		background: $color-dark-3xl;
		text-align: center;
		@media (min-width:769px) {
		display: none;
		}
		&.active{
			left: 0px;
		}
}

.burger__link{
	font-family: $second-family;
	font-weight: 400;
	font-size: 32px;
	line-height: 160%;
	color: $color-dark-s !important;
	&.active{
		color: $color-light-s;
	}
}


.main__desc{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 42px;
	flex-wrap: wrap;

	&__img{
		max-width: 698px;
		width: 100%;
		object-fit: cover;
		@media (max-width:800px) {
			max-width:569px;
		}

	}
	&__txt{
		width: 100%;
		max-width: 460px;
		display: flex;
		flex-direction: column;
		gap: 42px;
		@media(max-width:769px) {
		align-items: flex-start;
		}
		@media(max-width:400px){
			align-items: center;
		}
		button{
			padding: 0px;
			width: 207px;
			height: 52px;
			background: $color-primary;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 17px;
			line-height: 130%;
			letter-spacing: 0.06em;
			color: $color-dark-3xl;
		}
		p{
			color: $color-dark-s;
		}
	}
	h1{
		color: $color-light-xl;
	}
}
.about__section{
	padding: 80px 40px 100px 40px;
	@media (max-width:400px) {
			padding: 42px 10px;	
	}

	.about__div{
		
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		h2{
			font-size: 35px;
			@media (max-width:400px){
				line-height: 130%;
				letter-spacing: 0.06em;
				font-size: 25px;
			}
		}
		@media (max-width:769px){
			flex-direction: column;
			gap: 80px;
		}
		@media (max-width:400px) {
			padding: 0px 15px;
			gap: 42px;
		}
	}
		.about__div__img{
			flex: 1 1 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width:769px) {
				order: 2;
				max-width: 100%;
			}
		}
		.about__div__desc{
			flex: 1 1 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 25px;
			p{
				display: block;
				max-width: 430px;
				@media(max-width:400px) {
					text-align: justify;
				}
			}
			@media(max-width:769px){
				order: 1;
				max-width: 100%;
			}
			@media(max-width:400px){
				align-items: center;
			}
		}
}
.find__section{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding: 80px 40px 100px 40px;
	background: $color-light-l;
	@media (max-width:769px) {
		padding: 80px 30px 100px 30px;
	}
	@media(max-width:500px){
		padding: 42px 10px 42px 10px;
		gap: 42px;
	}
	.find__text{
		text-align: center;
	}
	.find__cards{
		transition: transform 0.7s ease-out;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 990px;
		width: 100%;
		position: relative;
		gap: 90px;
		@media (max-width:1200px) {
			.card:last-of-type{
				display: none;
			}
			gap: 40px;
			max-width: 580px;
		}
		@media (max-width:760px) {
			.card:first-of-type{
				display: none;
			}
			max-width:290px;
		}
	}
}
.cards__wrapper{
		overflow: hidden;
		max-width: 990px;
		width: 100%;
		gap: 90px;
		@media (max-width:1200px) {
			gap: 40px;
			max-width: 580px;
		}
		@media (max-width:760px) {
			max-width:290px;
		}
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

	.row{
		display: flex;
		gap: 80px;
		margin-top: -22px;
		padding-bottom: 42px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.arrow{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;
		top:50%;
		border-radius: 100px;
		width: 52px;
		height: 52px;
		border: 2px solid $color-primary;
		position: absolute;
		&__left{
			left: 40px;
		}
		&__right{
			right: 40px;
		}
		@media (max-width:500px) {
			position:static;
		}
		&__left{
			left: 40px;
		}
		&__right{
			right: 40px;
		}
		@media (max-width:1200px) {
			&__left{
			left: 30px;
		}
			&__right{
			right: 30px;
			}
		}
	}
	.card{
		transition: 0.5s ease;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 30px;
		border-radius: 9px;
		width: 270px;
		height: 435px;
		background: $color-light-s;
	}
	.card:hover{
		cursor: pointer;
		button{
				cursor: pointer;
				border: $color-primary-light;
				background: $color-primary-light;
		}
	}
		.card__btn{
			background: $color-light-s;
			border: 2px solid $color-primary;
			border-radius: 100px;
			padding: 0px;
			width: 187px;
			height: 52px;
		}
	.find__btn{
		border: 0px;
		border-radius: 100px;
		width: 261px;
		height: 52px;
		background: $color-primary;
	}
.help__section{
		padding: 80px 40px 100px 40px;
		display: flex;
		gap: 60px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@media(max-width:769px){
			padding: 80px 69px 100px 69px ;
		}
		@media(max-width:400px){
			gap: 42px;
			padding: 42px 15px 42px 15px ;
		}
}
	.help__cards{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 55px 120px;
			@media (max-width:900px){
				display: grid;
				grid-template-columns: repeat(3,170px);
				grid-template-rows: repeat(3,113px);
				gap: 55px 60px;
			}
			@media (max-width:670px){
				display: grid;
				grid-template-columns: repeat(2,130px);
				grid-template-rows: repeat(5,87px);
				gap: 30px;
			}
			svg{
				@media (max-width:670px){
					width: 50px;
					height: 50px;
				}
			}
			.help__card{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 30px;
					@media (max-width:670px){
						gap: 20px;
					}
				h4,.h4{
					@media (max-width:670px){
						font-size: 15px;
					}
				}
			}
	}
	.donation__section{
		background: $color-light-l;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		padding: 80px 182px 100px 183px;
		img{
			@media (max-width:1000px) {
				order: 2;
			}
			@media (max-width:600px) {
				width: 260px;
			}
		}
		@media (max-width:1000px) {
			flex-wrap: wrap;
			gap:60px;
		}
		@media (max-width:600px) {
			gap: 42px;
			padding: 42px 10px;
		}
	}
	.donation__desc{
		width: 380px;
		min-width: 380px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		flex-direction: column;
		@media (max-width:400px) {
			align-items: center;
			width: 300px;
			min-width: 300px;
		}
		button{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 0px;
			gap: 15px;
			border-radius: 9px;
			padding: 10px 15px;
			background: $color-primary;
			color: $color-dark-l;

			span{
				@media(max-width:400px){
					font-size: 15px;
				}
			}

		}	
		.don-txt{
			@extend %paragraph-s-txt;
			@media(max-width:400px) {
				padding: 0px 10px;
				text-align: justify;
			}
		}
	}

footer{
	width: 100%;
	max-width: 1280px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:160px;
	flex-wrap: wrap;
	padding: 40px 40px 0 40px;
	background: $start-screen-gradient-background;
	background: linear-gradient(90deg,rgba(91, 72, 58, 1) 0%, rgba(38, 36, 37, 1) 100%);
	@media (max-width:1050px) {
		gap: 60px 65px;
	}
	@media (max-width:400px) {
		padding: 30px 10px 0 10px;
	}
	img{
		@media (max-width:400px) {
			width: 260px;
		}
	}
}
.footer__card{
	padding: 16px 0 60px 0;
	display: flex;
	flex-direction: column;
	gap:40px;
	align-items: flex-start;
	justify-content: center;
	@media (max-width:800px) {
		padding: 0;
	}
	@media (max-width:400px) {
		&:last-of-type{
		align-items: flex-start;
		}
		align-items: center;
		width: 300px;
	}
	div{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		font-family: $font-family;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: $color-primary;
	}
	span:hover,
	svg:hover{
		cursor: pointer;
	}
	h3,.h3-footer{width: 279px;}
}
.header{
	padding: 30px 40px;
	@media (max-width:1000px) {
		padding: 30px;
	}
	@media (max-width:500px) {
		padding: 30px 20px;
	}
	a{
		color: $color-dark-l
	}
		
}
.black-brg{
	span{
		background-color: $color-dark-l !important;
	}
}
.black{
		color: $color-dark-l ;
}
.find__pets{
	padding: 80px 40px 100px 40px;
	@media (max-width:1000px) {
		padding: 60px 30px 70px 30px;
	}
	@media (max-width:500px) {
		padding: 42px 10px;
	}
}
#find{
	overflow: hidden;
}
.find__cards_second{
		display: grid;
		grid-template-columns: repeat(4,270px);
		grid-template-rows: repeat(2,435px);
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 40px 30px;
		transition: all 0.2s ease-out;

		.card:nth-child(n+9){
			display: none;
		}
		@media (max-width:1200px) {
			.card:nth-child(n+7){
				display: none;
			}
			grid-template-columns: repeat(2,270px);
			grid-template-rows: repeat(3,435px);
		}
		@media (max-width:600px) {
			.card:nth-child(n+4){
				display: none;
			}
				grid-template-columns: repeat(1,270px);
				grid-template-rows: repeat(3,435px);
		}
	}
.h1-pets{
	
}
.div__btns{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	@media (max-width:400px) {
		gap: 10px;
	}
	.arrow{
		margin: 0px;
		background: $color-light-l;
		font-family: $font-family;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		text-align: center;
		position: static !important;
		&.active{
			color: $color-dark-3xl;
		}
		&.passive{
			border: 2px solid $color-dark-s;
			color: $color-dark-s;
		}
		&.passive:hover{
			cursor:auto;
			border: 2px solid $color-dark-s ;
			color: $color-dark-s ;
			background: transparent;
		}

	}
	.arrow:hover{
		background:$color-primary ;
	}
}
.number{
		background: $color-primary !important;
}
.modal{
	position: relative;
	display: flex;
	max-width: 900px;
	width: 82%;
	min-width: 240px;
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
	justify-content: space-between;
	align-items: center;
	background: $color-light-l;
	border-radius: 9px;
	@media (max-width:750px) {
			max-width: 240px;
			h3{
				font-size: 35px;
			}
			h5{
				text-align: justify;
			}
	}
	&__img{
		flex: 1 1 55.4%;
		@media (max-width:750px) {
			display: none;
		}
	}
	&__desc{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 40px;
		padding: 50px 20px 88px 29px;
		flex: 1 1 50%;
		*{
			color: #000;
		}
		@media (max-width:1000px) {
				gap: 20px;
				padding: 10px 9px 37px 11px;
			}
		@media (max-width:750px) {
				padding: 10px;
			}
		&_head{
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			gap: 10px;
			@media (max-width:750px) {
				align-items: center;
			}
		}
		ul{
			display: flex;
			flex-direction: column;
			gap: 6px;
			list-style-type: disc;
			padding: 0;
			margin: 0;
			padding-left: 14px ;
			li::marker{
				color:$color-primary;
			}
			strong{
				font-weight: 700;
			}
		}
	}
}
.background{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(41, 41, 41, 0.6);
}
.modal__close_btn{
	width: 52px;
	height: 52px;
	position: absolute;
	top:-51px;
	right: -32px;
}




@media(max-width:769px){
	.main__desc__img{
		padding-left: 69px;
	}
}

@media(max-width:430px){
	.main__desc__img{
		padding-left: 40px;
	}
	h1,h2,h3,.h3-footer,h4,.h4,.h5,h6,p{
		text-align: center;
	}
	h1,h2,h3,.h3-footer,.h1-pets{
		font-size: 25px;
	}
	.h5{
		line-height: 160%;
		text-wrap: nowrap;
		letter-spacing: 0;
	}

}

